body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	float: left;
	margin: 0;
}

.chase-main {
	background-image: url(../images/download.jfif);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Century Gothic";
	font-weight: bold;
}

.container {
	margin-left: 64px;
	margin-right: 64px;
	max-width: 1200px;
	background-color: rgba(216, 216, 216, 0.5);
	margin: 0 auto;
}

.menu-button {
	text-decoration: none;
	color: #e3e3e3;
	background-color: #1055b2;
	padding: 10px;
}

.menu-button:hover {
	background-color: #2f9fe6;
	transition: 0.3s;
}